.App {
  text-align: center;
}

.list-image {
  height: 30px;
}

.country-image {
  height: 100px;
}

.list-country-container {
  display: flex;
  flex-direction: column;
}

.link-styles {
  text-decoration: none;
  color: black;
}
